.member-box {
	max-width: 1180px;
	margin: 30px auto;
}
.member-box .tit {
	font-weight: 700;
	font-size: 26px;
}
.member__list {
	width: 100%;
	margin: 20px 0;
	border-bottom: 1px solid rgb(255,255,255);
}
.member__list li {
	font-size: 0;
	border-top: 1px solid rgb(255,255,255);
}
.member__list li:first-child {}

.member__list li p {
	height: 30px;
	display: inline-block;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
}
.member__list li p a {display: block;}
.b-num, .b-num a {
	width: 30px;
	color: rgb(255,255,255);
}
.name {width: calc(100% - 250px);}
.name a {color: rgb(255,255,255);}
.pgame, .pgame a {
	width: 60px;
	color: rgb(10, 250, 10);
}
.tpoint, .tpoint a {
	width: 70px;
	color: rgb(250,100,10);
}
.mygoal, .mygoal a {
	width: 40px;
	color: rgb(255, 251, 0);
}
.myas, .myas a {
	width: 50px;
	color: rgb(0, 204, 255);
}



@media screen and (max-width: 768px) {
    #contents {padding: 0 20px;}
}